<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/layout.css">
    <link rel="stylesheet" href="./stylesheets/grid.css">
    <link rel="stylesheet" href="../stylesheets/form.css">
    <script defer src="/game_script.js" type="module"></script>
    <title>Minesweeper</title>
  </head>

  <body>

    <div class="layout-top-pane">
      <div class="title">
        minesweeper
      </div>
    </div>

    <div class="layout-middle-pane">
      <div class="grid" name="grid"></div>
    </div>
    
    <div class="layout-bottom-pane">

      Mines: ...
      Flags remaining: ...

    
      Games won: ...
      Games lost: ... 
      Stats click here ...

      <form id="settings" class="button" action="/game/settings" method="GET">
        <div class="btn-block">
          <button type="submit" href="/game/settings">Settings</button>
        </div>
      </form>

    </div>

  </body>


</html>
