<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/layout.css">
    <link rel="stylesheet" href="../stylesheets/form.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <script defer src="../game_settings_script.js" type="module"></script>
    <title>Minesweeper</title>
  </head>

  <body>
    <div class="layout-top-pane">
      <div class="title">
        minesweeper
      </div>
    </div>

    <div class="form-card" >
      <form id="settings-input-form" class="settings-input-form" action="/game" method="GET">
        <div class="banner">
          <h1>Minesweeper</h1>
        </div>
        <br/>
        <fieldset>
          <legend>Game Settings</legend>
          <div class="question">
            <label>Difficulty Level</label>
            <div class="question-answer">
              <div>
                <input type="radio" value="Easy" id="radio_1" name="difficulty"/>
                <label for="radio_1" class="radio"><span>Easy</span></label>
              </div>
              <div>
                <input type="radio" value="Medium" id="radio_2" name="difficulty"/>
                <label for="radio_2" class="radio"><span>Medium</span></label>
              </div>
              <div>
                <input type="radio" value="Hard" id="radio_3" name="difficulty"/>
                <label for="radio_3" class="radio"><span>Hard</span></label>
              </div>
              <div>
                <input type="radio" value="Extra Hard" id="radio_4" name="difficulty"/>
                <label for="radio_4" class="radio"><span>Extra Hard</span></label>
              </div>
            </div>
          </div>
          <br/>
          <div class="question">
            <label>Game Size</label>
            <div class="question-answer">
              <div>
                <input type="radio" value="Tiny" id="radio_5" name="game-size"/>
                <label for="radio_5" class="radio"><span>Tiny (10 x 10 = 100 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Small" id="radio_6" name="game-size"/>
                <label for="radio_6" class="radio"><span>Small (15 x 10 = 150 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Medium" id="radio_7" name="game-size"/>
                <label for="radio_7" class="radio"><span>Medium (15 x 20 = 300 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Large" id="radio_8" name="game-size"/>
                <label for="radio_8" class="radio"><span>Large (15 x 30 = 450 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Extra Large" id="radio_8" name="game-size"/>
                <label for="radio_8" class="radio"><span>Extra Large (15 x 45 = 525 squares)</span></label>
              </div>



            </div>
          </div>
        </fieldset>
        <div class="btn-block">
          <button type="submit" href="/game">Submit</button>
        </div>
      </form>
    </div>

    <div class="layout-middle-pane">
      <div class="grid" name="grid"></div>
    </div>
    
    <div class="layout-bottom-pane">

      Mines: ...
      Flags remaining: ...

    
      Games won: ...
      Games lost: ... 
      Stats click here ...

      <form id="settings" class="button" action="/game/settings" method="GET">
        <div class="btn-block">
          <button type="submit" href="/game/settings">Settings</button>
        </div>
      </form>

    </div>
    
  </body>

</html>
