<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/layout.css">
    <link rel="stylesheet" href="../stylesheets/form.css">
    <link rel="stylesheet" href="../stylesheets/game-stats.css">
    <script src="https://kit.fontawesome.com/88dd323ed6.js" crossorigin="anonymous"></script>
    <script defer src="../game_settings_script.js" type="module"></script>
    <title>Minesweeper</title>
  </head>

  <body>
    <div class="layout-top-pane">
      <div class="title">
        <h1>Minesweeper</h1>
      </div>
    </div>

    <div class="form-card" >
      <form id="settings-input-form" class="settings-input-form" action="/game" method="GET">
        <div class="banner">
          <h1>Game Settings</h1>
        </div>
        <br/>
        <fieldset>
          <legend>Difficulty Level</legend>
          <div class="question">
            <div class="question-answer">
              <div>
                <input type="radio" value="Easy" id="radio_1" name="difficulty"/>
                <label for="radio_1" class="radio"><span>Easy (10% mines)</span></label>
              </div>
              <div>
                <input type="radio" value="Medium" id="radio_2" name="difficulty"/>
                <label for="radio_2" class="radio"><span>Medium (20% mines)</span></label>
              </div>
              <div>
                <input type="radio" value="Hard" id="radio_3" name="difficulty"/>
                <label for="radio_3" class="radio"><span>Hard (30% mines)</span></label>
              </div>
              <div>
                <input type="radio" value="Extra Hard" id="radio_4" name="difficulty"/>
                <label for="radio_4" class="radio"><span>Extra Hard (40% mines)</span></label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Game Size</legend>
          <div class="question">
            <div class="question-answer">
              <div>
                <input type="radio" value="Tiny" id="radio_5" name="game-size"/>
                <label for="radio_5" class="radio"><span>Tiny (10 x 10 = 100 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Small" id="radio_6" name="game-size"/>
                <label for="radio_6" class="radio"><span>Small (15 x 10 = 150 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Medium" id="radio_7" name="game-size"/>
                <label for="radio_7" class="radio"><span>Medium (15 x 20 = 300 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Large" id="radio_8" name="game-size"/>
                <label for="radio_8" class="radio"><span>Large (15 x 30 = 450 squares)</span></label>
              </div>
              <div>
                <input  type="radio" value="Extra Large" id="radio_8" name="game-size"/>
                <label for="radio_8" class="radio"><span>Extra Large (15 x 45 = 525 squares)</span></label>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="btn-block">
          <button type="submit" href="/game">Submit</button>
        </div>
      </form>
    </div>

    <div class="layout-middle-pane">
      <div class="grid" name="grid"></div>
    </div>
    
    <div class="layout-bottom-pane">

      <div class="game-stats-container">
        <fieldset>
          <div class="game-stats-text">
            
            <h3>Game Statistics</h3>
            
            <p id="number-of-mines">Mines: </p>
          
            <p id="number-of-flags-used">Flags used: </p>
            <p id="number-of-flags-remaining">Flags remaining: </p>
            <!-- <p id="games-won">Games won: </p>
            <p id="games-lost">Games lost: </p>
            <p id="win-percentage">Win Percentage: </p> --> 
          </div>

        </fieldset>
        
      </div>
      
      <form id="settings" class="button" action="/game/settings" method="GET">
        <div class="btn-block">
          <button type="submit" href="/game/settings">Settings</button>
        </div>
      </form>

    </div>
    
  </body>

</html>
