<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/form.css">
    <script defer src="home_script.js" type="module"></script>
    <title>Minesweeper</title>
  </head>

  <body>

    <div class="layout-top-pane">
      <div class="title">
        Minesweeper
      </div>
    </div>

    <div class="layout-middle-pane">
      <a href="/game/settings" class="home-page-button">New Game</a>
    </div>
    
    <div class="layout-bottom-pane">
      About  |  Github
    </div>

  </body>

</html>
