html, body {
  min-height: 100%;
}

body, div, form, input, select, textarea, label { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

input, select, textarea {
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

input {
width: calc(100% - 10px);
padding: 5px;
}

textarea {
width: calc(100% - 12px);
padding: 5px;
}

.item:hover p, label:hover {
color:  rgb(201, 99, 99);
}

.item {
position: relative;
margin: 10px 0;
}

input[type=radio], input[type=checkbox]  {
display: none;
}

label.radio {
position: relative;
display: inline-block;
margin: 5px 20px 1px 0;
cursor: pointer;
}

.question span {
margin-left: 30px;
}

.question-answer label {
display: block;
}

label.radio:before {
content: "";
position: absolute;
left: 0;
width: 17px;
height: 17px;
border-radius: 50%;
border: 2px solid #ccc;
}

input[type=radio]:checked + label:before, label.radio:hover:before {
border: 2px solid  rgb(201, 99, 99);
}

label.radio:after {
content: "";
position: absolute;
top: 6px;
left: 5px;
width: 8px;
height: 4px;
border: 3px solid  rgb(201, 99, 99);
border-top: none;
border-right: none;
transform: rotate(-45deg);
opacity: 0;
}

input[type=radio]:checked + label:after {
opacity: 1;
}

.btn-block {
margin-top: 10px;
text-align: center;
}

.submit-button {
width: 150px;
padding: 10px;
border: none;
border-radius: 5px; 
background:  rgb(201, 99, 99);
font-size: 16px;
color: #fff;
cursor: pointer;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  background:  rgb(201, 99, 99);
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
  
