.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  background-size:cover;
}

.grid div {
  height: 40px;
  width: 40px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}

.mine {
  background-color: red;
}

.not-a-mine {
  background-color: blue;
}

.grid div[data] {
  color: yellow;
  font-size: 20px;
  text-align: center;
}

.checked {
  background-color: green;
}

#result {
  margin-top: 5px;
  color: red;
}